/* Container central do formulário */
.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 2em;
    margin: 2em auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);

    /* background suave */
    background: linear-gradient(135deg, #f0f4f8, #e2e8f0);

    /* largura responsiva do container */
    width: 90%;
    max-width: 700px;
    min-width: 300px;
    box-sizing: border-box; /* inclui padding na largura */
}

/* Formulário */
.form {
    display: grid;
    gap: 1em;

    /* largura total do container */
    width: 100%;
}

/* Título do form */
.form h2 {
    text-align: center;
    margin-bottom: 1em;
    color: #1f2937;
    font-size: 1.8rem;
    font-weight: 600;
}

/* Inputs */
.form input {
    width: 100%; /* ocupa todo o form */
    padding: 1em;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

/* Botão */
.form button {
    width: 100%; /* ocupa todo o form */
    padding: 1em;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.form button:hover {
    background-color: #2563eb;
}


.form select {
    padding: 1em;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 1rem;
    background-color: white;
    color: #1f2937;
    appearance: none; /* remove a seta padrão */
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%231f2937' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0.75em center;
    background-size: 1em;
}